@use "../../scss/" as *;

.button {
    padding: 10px;
    background-color: $black-cl;
    color: $white-cl;
    margin-left: 100px;
    @include xxs {
        background-color: red;
        text-transform: uppercase;
    }
}

.para {
    color: $black-cl;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
